.popup {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s linear;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Inter', 'Arial', sans-serif;
    z-index: 49;
}

