.popup__closed {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: cover;
    background-color: none;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
}

.popup__closed:hover {
    opacity: 0.6;
    transition: opacity 1s linear;
}