.popup__saved {
    width: 100%;
    min-height: 50px;
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    border: none;
    opacity: 1;
}

.popup__saved:hover {
    opacity: 0.8;
    transition: opacity 1s linear;
}

@media screen and (max-width: 425px) {
    .popup__saved {
        min-height: 46px;
        font-size: 14px;
        line-height: 1.21;
    }
}
