.profile__name {
    width: calc(100% - 42px);
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    padding: 0;
    margin: 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .profile__name {
        max-width: 80%;
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .profile__name {
        max-width: 70%;
        font-size: 27px;
        line-height: 1.2;
        margin: 0 0 0 25px;
    }
}
