.profile__profession {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .profile__profession {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .profile__profession {
        width: 100%;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        margin: 7px 0 33px;
    }
}
