.popup-picview__container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    height: 75vh;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .popup-picview__container {
        top: 50px;
        max-width: 240px;
        width: 240px;
        height: 299px;
        /* padding: 25px 22px; */
    }
}