.popup__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -20px;
    z-index: 82;
}

@media screen and (max-width: 767px) {
    .popup__title {
        bottom: -8px;
    }
}

