.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    left: 438px;
    opacity: 1;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 100;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 1s linear;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -8px;
        left: 282px;
    }
}
