.popup__container {
    position: absolute;
    top: 195px;
    left: calc(50% - 470px/2);
    width: 430px;
    min-height: 330px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    /* opacity: 1; */
}