.popup__container {
    position: relative;
    top: 195px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 430px;
    min-height: 330px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px;
}

@media screen and (max-width: 425px) {
    .popup__container {
        top: 123px;
        width: 282px;
        min-height: 322px;
        padding: 25px 22px;
    }
}