.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    column-gap: 17px;
    row-gap: 20px;
    margin: auto;
    padding: 50px 0 0;
}

@media screen and (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
    }
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        padding: 36px 0 0;
    }
}
