.footer__info {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #545454;
}

@media screen and (max-width: 767px) {
    .footer__info {
        font-size: 14px;
        line-height: 1.21;
    }
}