.form__input {
    width: 100%;
    min-height: 27px;
    border: none;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0 0 30px;
    font-family: 'Inter', 'Arial', sans-serif;
}

.form__input:last-of-type {
    margin: 0;
}

.form__input::placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0;
    margin: 0 0 13px;
}

.form__input::-webkit-input-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0;
    margin: 0 0 13px;
}

.form__input::-moz-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0;
    margin: 0 0 13px;
}

.form__input::-ms-input-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0;
    margin: 0 0 13px;
}
