.elements__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 19px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../../images/delete.svg);
    background-size: cover;
    cursor: pointer;
    z-index: 40;
}

.elements__delete:hover {
    opacity: 0.6;
    transition: opacity 1s linear;
}