.elements__like {
    display: block;
    min-width: 22px;
    min-height: 19px;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
    background-color: white;
    align-self: center;
    padding: 0;
    margin: 0;
    background-image: url(../../../images/heart.svg);
    background-size: cover;
    /* opacity: 1; */
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
    transition: opacity 1s linear;
}

/* .elements__like:active {
    background-image: url(../../../images/union.svg);
    opacity: 1;
} */

