.popup-picview {        
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s linear;
    margin: 0;
    padding: 90px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: flex-start;
    z-index: 50;
    font-family: 'Inter', 'Arial', sans-serif;    
    align-content: flex-start;
}

