.profile__foto-edit {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    background-color: #000;
    background-image: url(../../../images/editAvatarPen.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.profile__foto-edit:hover {
    opacity: 0.6;
    transition: opacity 1s linear;
}